---
import Layout from "../../layouts/Layout.astro";
// import BookPreview from "../../components/BookPreview.astro";
import { getCollection } from "astro:content";

const books = await getCollection("books");
console.log(books);
---

<Layout>
  <div class="max-w-[75%] flex flex-col justify-center mt-22 mx-auto">
    <div>
      <h1 class="lato-bold">Detalles de los libros</h1>
      <h1 class="lato-bold text-7xl mt-8">Explora la biblioteca interactiva</h1>
      <h2 class="lato-regular text-xl w-[90%] mt-8 mb-8">
        Descubre una nueva forma de aprender.
      </h2>
    </div>

    <!-- <div class="flex justify-center mt-22"> -->
    <!--   <hr class="border-t-1 border-black w-[100%] max-w-[100%]" /> -->
    <!-- </div> -->
  </div>

  {
    books.map((book: { data: any; slug: any }) => {
      const { data, slug } = book;
      const { title, author, img, date, place, pages, description } = data;

      return (
        <div class="flex gap-8 p-6 bg-[var(--cards)] max-w-[75%] mx-auto mt-8 border-t border-[var(--rayas)]">
          {/* <!-- imagen del libro --> */}
          <div>
            <a href={`/books/${slug}`}>
              <img
                src={`${img}`}
                alt="Portada del libro"
                class="max-w-[500px] max-h-[300px] h-auto rounded-sm shadow-md object-cover"
              />
            </a>
          </div>

          {/* <!-- información del libro --> */}
          <div class="flex-1 flex flex-col justify-between">
            <div>
              <h2 class="text-2xl font-bold mb-2">{title}</h2>
              <div class="flex gap-2 mb-4">
                <span class="px-2 py-1 text-xs text-white bg-blue-300 rounded-full">
                  Educación Digital
                </span>
                <span class="px-2 py-1 text-xs text-blue-900 bg-blue-100 rounded-full">
                  Libros Interactivos
                </span>
                <span class="px-2 py-1 text-xs bg-blue-200 rounded-full">
                  Aprendizaje Activo
                </span>
              </div>
              <p class="text-gray-700 mb-4 lato-regular">{description}</p>
              <ul class="text-[var(--titles)] text-sm space-y-1 mb-4">
                <li>
                  <strong>Autor:</strong> {author}
                </li>
                <li>
                  <strong>Fecha:</strong> {date}
                </li>
                <li>
                  <strong>Lugar:</strong> {place}
                </li>
                <li>
                  <strong>Páginas:</strong> {pages}
                </li>
              </ul>
            </div>

            {/* <!-- botones --> */}
            <div class="flex gap-3">
              <a
                href={`/books/${slug}`}
                class="bg-[var(--botonOscuro)] border border-gray-400 text-white px-4 py-2 rounded hover:bg-gray-800 transition"
              >
                Ir al libro
              </a>
            </div>
          </div>
        </div>
      );
    })
  }

  <!-- BOTÓN VER TODOS -->
  <div class="mt-24 mb-24 ver-mas flex justify-center">
    <a
      href="/books"
      class="px-6 py-2 border border-gray-400 rounded hover:bg-[var(--navfooternt)] bg-[var(--cards)] text-[var(--titles)] transition-colors duration-300 ease-in-out"
    >
      Ver más
    </a>
  </div>
</Layout>
