---
//distance ∆L
const minDistance = 10
const maxDistance = 100
const initDistance = 50

//flow rate Q
const minQ = 1 
const maxQ = 10
const initQ = 5

//conductivity K
const minK = 3
const maxK = 10
const initK = 5 

//area A
const minA = 1
const maxA = 10
const initA = 5

---

<div class="layout">
  <!-- Panel Gráfica -->
  <div class="visual border border-[var(--borderMario)] bg-[var(--cardMario)] rounded-md shadow-[0_8px_30px_var(--shadowMario)]">
    <h2>Gráfica</h2>

    <div class="graph">

      <div class="height-line bg-[var(--color-primary)]">
      </div>

      <div class="container">

        <div class="pms">
          <div class="piezometer" id="pm-1">
            <div class="water"><h3>h₁</h3></div>
          </div>
          <div class="piezometer" id="pm-2">
            <div class="water"><h3>h₂</h3></div>
          </div>
        </div>

        <div class="cylinder">
          <div class="circle front"></div>
          <div class="body"></div>
          <div class="circle back"></div>
        </div>

        <div class="delta-container">
          <div class="linea"></div>
          <span class="delta-text">∆L</span>
        </div>

      </div>
    </div>
  </div>

  <!-- Panel datos-->
  <div class="data border border-[var(--borderMario)] bg-[var(--cardMario)] rounded-md shadow-[0_8px_30px_var(--shadowMario)]">
    <h2>Datos</h2>
    <div><h3 class="data-name">h₁:</h3><label id="data-1"></div>
    <div><h3 class="data-name">h₂:</h3><label id="data-2"></div>
    <div><h3 class="data-name">∆L:</h3><label id="data-3"></div>
    <div><h3 class="data-name">∆h/∆L:</h3><label id="data-4"></label></div>
    <div><h3 class="data-name">Q:</h3><label id="data-5"></label></div>
    <div><h3 class="data-name">K:</h3><label id="data-6"></label></div>
    <div><h3 class="data-name">A:</h3><label id="data-7"></label></div>
    <div><h3 class="data-name">data:</h3><label id="data-8"></label></div>

  </div>

  <!-- Panel controles -->
  <div class="panel border border-[var(--borderMario)] bg-[var(--cardMario)] rounded-md shadow-[0_8px_30px_var(--shadowMario)]">
    <h2>Controles</h2>
    <label>Tipo de input</label>
    <input type="checkbox" id="input-type" value="true"/>
    <br><br>
    <label>Distancia entre piezómetros</label>
    <input id="range-distance" type="range" min={minDistance} max={maxDistance} value={initDistance} />
    <input id="number-distance" type="number" min={minDistance} max={maxDistance} value={initDistance} />
    <br><br>
    <label>Ratio de flujo</label>
    <input id="range-Q" type="range" min={minQ} max={maxQ} value={initQ} />
    <input id="number-Q" type="number" min={minQ} max={maxQ} value={initQ} />
    <br><br>
    <label>Conductividad</label>
    <input id="range-K" type="range" min={minK} max={maxK} value={initK} />
    <input id="number-K" type="number" min={minK} max={maxK} value={initK} />
    <br><br>
    <label>Area</label>
    <input id="range-A" type="range" min={minA} max={maxA} value={initA} />
    <input id="number-A" type="number" min={minA} max={maxA} value={initA} />
  </div>
</div>

<script>

  //elements for distance (∆L) control
  const type = document.getElementById("input-type") as HTMLInputElement;
  const rangeDistanceIn = document.getElementById("range-distance") as HTMLInputElement;
  const numberDistanceIn = document.getElementById("number-distance") as HTMLInputElement;

  //elements for flow rate (Q) control
  const rangeQIn = document.getElementById("range-Q") as HTMLInputElement;
  const numberQIn = document.getElementById("number-Q") as HTMLInputElement;

  //elements for conductivity (K) control
  const rangeKIn = document.getElementById("range-K") as HTMLInputElement;
  const numberKIn = document.getElementById("number-K") as HTMLInputElement;

  //elements for area (A) control
  const rangeAIn = document.getElementById("range-A") as HTMLInputElement;
  const numberAIn = document.getElementById("number-A") as HTMLInputElement;

  //elementes for piezometer and water level
  const pm1 = document.getElementById("pm-1") as HTMLDivElement;
  const pm2 = document.getElementById("pm-2") as HTMLDivElement;
  const water1 = document.querySelector("#pm-1 .water") as HTMLDivElement;
  const water2 = document.querySelector("#pm-2 .water") as HTMLDivElement;

  //elements for ∆L visualization
  const deltaContainer = document.querySelector(".delta-container") as HTMLDivElement;
  const linea = document.querySelector(".linea") as HTMLDivElement;
  const deltaText = document.querySelector(".delta-text") as HTMLDivElement;

  //data values
  const data1 = document.getElementById("data-1") as HTMLLabelElement;
  const data2 = document.getElementById("data-2") as HTMLLabelElement;
  const data3 = document.getElementById("data-3") as HTMLLabelElement;
  const data4 = document.getElementById("data-4") as HTMLLabelElement;
  const data5 = document.getElementById("data-5") as HTMLLabelElement;
  const data6 = document.getElementById("data-6") as HTMLLabelElement;
  const data7 = document.getElementById("data-7") as HTMLLabelElement;
  const data8 = document.getElementById("data-8") as HTMLLabelElement;

  const water1Height = water1.offsetHeight;

  //∆L
  let distance = 50
  let flowRate = 2
  let conductivity = 0.5
  let area = 4

  function actualizarInputType() {
    if (type.checked) {
      distance = parseInt(rangeDistanceIn.value);
      flowRate = parseInt(rangeQIn.value);
      conductivity = parseInt(rangeKIn.value);
      area = parseInt(rangeAIn.value);

      numberDistanceIn.style.display = 'none';
      numberQIn.style.display = 'none';
      numberKIn.style.display = 'none';
      numberAIn.style.display = 'none';

      rangeDistanceIn.style.display = 'flex';
      rangeQIn.style.display = 'flex';
      rangeKIn.style.display = 'flex';
      rangeAIn.style.display = 'flex';
    } else {
      distance = parseInt(numberDistanceIn.value);
      flowRate = parseInt(numberQIn.value);
      flowRate = parseInt(numberKIn.value);
      flowRate = parseInt(numberAIn.value);

      numberDistanceIn.style.display = 'flex';
      numberQIn.style.display = 'flex';
      numberKIn.style.display = 'flex';
      numberAIn.style.display = 'flex';
      
      rangeDistanceIn.style.display = 'none';
      rangeQIn.style.display = 'none';
      rangeKIn.style.display = 'none';
      rangeAIn.style.display = 'none';
    }

  }

  function actualizarEstado() {

    // Movimiento horizontal del pm-2
    pm2.style.marginLeft = distance + "px";

    // h2 = h1 - ((Q * ∆L) / (K * A))
    const water2Height = water1Height - ((flowRate * distance) / (conductivity * area))
    // Ajuste de altura de agua
    water2.style.height = water2Height + "px"

    // actualizar division data
    // h1
    data1.textContent = water1Height.toFixed(2) + "m"
    // h2
    data2.textContent = water2Height.toFixed(2) + "m"
    // ∆L
    data3.textContent = distance.toFixed(2) + "m"
    //∆h/∆L = (h2-1)/∆L
    let slope = ((water2Height - water1Height) / distance).toFixed(2)
    data4.textContent = slope + "m"
    // Q (flow rate)
    data5.textContent = flowRate.toFixed(2) + "m³"
    // K (conductivity)
    data6.textContent = conductivity.toFixed(2) + "m/día"
    // A (area)
    data7.textContent = area.toFixed(2) + "m²"
       
  }

  function actualizarLinea() {
    const rect1 = pm1.getBoundingClientRect();
    const rect2 = pm2.getBoundingClientRect();
    const parentRect = deltaContainer.getBoundingClientRect();

    const center1 = rect1.left + rect1.width / 2;
    const center2 = rect2.left + rect2.width / 2;

    const left = Math.min(center1, center2) - parentRect.left;
    //const width = Math.abs(center2 - center1);
    const width = distance + 55

    linea.style.left = left + "px";
    linea.style.width = width + "px";
    const offset = deltaText.offsetWidth / 2;
    deltaText.style.left = left + width / 2 - offset + "px";
  }

  function actualizarTodo() {
    actualizarInputType();
    actualizarEstado();
    actualizarLinea();
  }

  rangeDistanceIn.addEventListener("input", actualizarTodo);
  numberDistanceIn.addEventListener("input", actualizarTodo);

  rangeQIn.addEventListener("input", actualizarTodo);
  numberQIn.addEventListener("input", actualizarTodo);

  rangeKIn.addEventListener("input", actualizarTodo);
  numberKIn.addEventListener("input", actualizarTodo);

  rangeAIn.addEventListener("input", actualizarTodo);
  numberAIn.addEventListener("input", actualizarTodo);

  type.addEventListener("input", actualizarTodo);
  ///window.addEventListener("resize", actualizarLinea);

  // Estado inicial
  actualizarTodo();
</script>

<style>
  .layout {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  .panel,
  .visual,
  .data {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
  }

  .panel h2,
  .visual h2,
  .data h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  .graph {
    display: flex;
    flex-direction: row;
    height: 50vh;
  }

  .panel input[type="range"]{
    display: block;
    width: 100%;
    margin-top: 10px;
    accent-color: #0077cc;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2vh;
  }

  .height-line {
    width: 4px;
    margin-right: 20px;
  }

  .pms {
    display: flex;
    gap: 25px;
    z-index: 10;
    min-width: 200px;
  }

  .piezometer {
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 0px solid rgb(0, 0, 0);
    border-top: 0px solid rgb(0, 0, 0);
    transition: margin-left 0.5s ease;
  }

  .piezometer#pm-1 > .water {
    height: 70%;
  }

  .piezometer#pm-2 > .water {
    height: 50%;
  }

  .water {
    width: 100%;
    background: rgba(74, 214, 255);
    transition: height 0.5s ease;
  }

  .water h3 {
    margin-top: -1em;
    margin-left: 1.8em;
  }

  .delta-container {
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: -30px;
  }

  .linea {
    position: absolute;
    top: 50%;
    height: 2px;
    background: black;
    transition: width 0.5s ease;
  }

  .linea::before,
  .linea::after {
    content: "";
    position: absolute;
    top: -8px;
    width: 2px;
    height: 18px;
    background: black;
  }

  .linea::before {
    left: 0;
  }

  .linea::after {
    right: 0;
  }

  .delta-text {
    position: absolute;
    top: -12px;
    font-weight: bold;
    color: #000000;
    padding: 0 4px;
    transition: all 0.5s ease;
  }

  .cylinder {
    margin-top: -20px;
    display: flex;
    align-items: center;
    z-index: 0;
  }

  .circle {
    width: 30px;
    height: 50px;
    background: rgba(190, 247, 255);
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
  }

  .circle.front {
    z-index: 3;
    /* círculo delantero liso */
  }

  .body {
    width: 280px;
    height: 50px;
    background: rgba(190, 247, 255);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    left: -15px;
    z-index: 2;

    background-image: radial-gradient(
      rgba(0, 0, 0, 0.459) 1px,
      transparent 1px
    );
    background-size: 10px 10px;
  }

  .circle.back {
    left: -30px;
    z-index: 1;

    background-image: radial-gradient(
      rgba(0, 0, 0, 0.459) 1px,
      transparent 1px
    );
    background-size: 10px 10px;
  }

  .data div {
    display: flex;
    flex-direction: row;
  }

  .data h3 {
    margin: 0;
    margin-right: 0.4em;
  }


</style>
